<footer class="footer">
  <div class="container">
    <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p>
    <ul class="footer-links">
      <li><a href="/pages/impressum">Impressum</a></li>
      <li><a href="/pages/kontakt">Kontakt</a></li>
      <li><a href="/pages/agb">AGB</a></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    </ul>
  </div>
</footer>
