<header class="header">
  <div class="container">
    <h2 class="logo">{{ shop.name }}</h2>
    <nav>
      <ul class="nav">
        <li><a href="/">Start</a></li>
        <li><a href="/collections/all">Produkte</a></li>
        <li><a href="/pages/ueber-uns">Über uns</a></li>
        <li><a href="/cart">Warenkorb 🛒</a></li>
      </ul>
    </nav>
  </div>
</header>
